* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
}

#game-container {
    position: relative;
    width: 400px;
    height: 600px;
    border: 2px solid black;
    background-color: #fff;
}

#gameCanvas {
    display: block;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
.background-text {
    position: absolute;
    top: 50%; /* Vertically centered */
    right: 10%; /* Positioned on the right side */
    transform: translateY(-50%);
    font-size: 60px; /* Increased font size for better visibility */
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px #e11111, 0 0 10px #ce111b, 0 0 15px #d41717, 0 0 20px #e51010, 0 0 30px 
    #1abc9c;
    z-index: 1;
  }